.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.job {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  text-align: left;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.jobs {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stepper {
  width: 30%;
}

.detail-logo {
  width: 10vmin;
  float: right;
}

.empty {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-text {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
